	html {
		font-family: Arial,Helvetica, sans-serif;
		font-size: 16px;
	}

	body {
		margin: 0;
	}

	.content {
		width: 1100px;
		margin: 0 auto;
	}
	
	/* <-- Header section --> */

	.header {
		height: 110px;
	}
	
	.clearfix {
		content: "";
		display: table;
		width: 100%;
		clear: both;
	}

	.logo {
		float: left;
		padding-top: 40px;
	}

	.nav-bar {
		display: inline-block;
		float: right;
		height: 100%;
	}

	.nav-bar ul {
		margin: 0;
	}

	.nav-bar ul > li {
		display: inline-block;
		height: 110px;
	} 

	.nav-bar a {
		font-family: Aleo-Bold;
		text-decoration: none;
		display: inline-block;
		padding: 46px 30px;
		color: #3b3b3b;
	}

	.nav-bar a:hover {
		background-color: #555555;
		color: #fff;
		transition: background-color 1s;
	}

	/* <-- Background pic section --> */

	.background-pic {
		background-image: url('img/billboard_bg.png');
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 600px;
		color: #fff;
		text-align: center;
	}

	.background-pic > .title {
		font-family: WCManoNegraBta;
		font-size: 85px;
		margin: 0;
		padding-top: 225px;
	}

	.background-pic > .title-description {
		display: inline-block;
		padding-top: 10px;
	}

	.background-pic > .title-description {
		display: inline-block;
		padding-top: 10px;
	}

	.background-pic > .line {
		width: 40px;
		height: 1px;
		background-color: #feffff;
		display: inline-block;
		margin: 0 15px 4px 15px;
	}
	
	/* <-- Menu section --> */

	.order-menu {
		position: relative;
		overflow: hidden;
	}
	
	.menu_title-wrapper {
		position: absolute;
		left: 50%;
		top: -20px;
		transform: translateX(-50%);
	}

	.menu_title {
		display: inline-block;
		height: 150px;
		width: 170px;
		position: relative;
	}

	.menu_title > span {
		position: absolute;
		width: 120px;
		font-family: Aleo-Bold;
		font-size: 22px;
		top: 35px;
		left: 53%;
		transform: translateX(-50%);
		color: #fff;
		z-index: 2;
	}

	.left-box {
		width: 170px;
		height: 80px;
		transform: skewY(-12deg);
		background-color: #f34949;
		position: absolute;
		z-index: 1;
	}

	.right-box {
		width: 170px;
		height: 80px;
		transform: skewY(12deg);
		background-color: #f34949;
		position: absolute;
		z-index: 1;
	}

	.menu-wrapper {
		margin-top: 150px;
	}

	.menu-left-side {
		display: inline-block;
		float: left;
		width: 47.2%;
	}

	.menu-right-side {
		display: inline-block;
		float: right;
		width: 47.2%;
	}
	
	.menu-item {
		display: block;
		width: 100%;
		height: 95px;
	}

	.menu-item .description {
		display: inline-block;
		float: left;
	}

	.menu-item .meal-name {
		font-family: Aleo-Bold;
		color: #3b3b3b;
		display: block;
	}

	.menu-item .meal-description {
		font-family: Aleo-LightItalic;
		color: #b7b7b7;
		display: block;
		font-size: 14px;
	}

	.menu-item  .price{
		font-family: Aleo-Bold;
		float: right;
	}

	.before-line {
		width: 200px;
		height: 1px;
		background-color: #e2e2e2;
		display: inline-block;
		float: right;
		margin-right: 40px;
		margin-top: 15px;
	}

	.load {
		border: 1px solid #b7b7b7;
		color: #b7b7b7;
		background-color: #fff;
		outline: none;
		font-family: Aleo-Regular;
		font-size: 16px;
		text-align: center;
		display: block;
		margin: 0 auto;
	}

	.button-content {
		padding: 10px;
	}

	.button-content > span {
		display: inline-block;
		padding-right: 8px;
	}

	.button-content > i {
		font-weight: bold;
	}

	.load:hover {
		cursor: pointer;
	}

	/* <-- The Futured dishes section --> */

	.futured_dishes {
		position: relative;
		overflow: hidden;
		height: 390px;
	}

	.futured_dishes > .after-line {
		left: 220px;
	}
	
	.slider {
		width: 2600px;
		position: absolute;
	}

	.futured_dishes input {
		display: none;
	}
	
	.control {
		position: absolute;
		top: 24px;
    	right: 0;
	}
	
	.control label {
		display: inline-block;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: #666;
	}

	@keyframes scrolling-1 {
		0% {transform: translateX(0px)}
		100% {transform: translateX(0px)}
	}

	@keyframes scrolling-2 {
		0% {transform: translateX(0px)}
		100% {transform: translateX(-300px)}
	}

	@keyframes scrolling-3 {
		0% {transform: translateX(-300px)}
		100% {transform: translateX(-580px)}
	}

	@keyframes scrolling-4 {
		0% {transform: translateX(-580px)}
		100% {transform: translateX(-880px)}
	}
	
	#slide-1:checked ~ .slider {
		animation: scrolling-1 1s linear 1;
	}

	#slide-2:checked ~ .slider {
		animation: scrolling-2 1s linear 1;
		animation-fill-mode: forwards;
	}

	#slide-3:checked ~ .slider {
		animation: scrolling-3 1s linear 1;
		animation-fill-mode: forwards;
	}

	#slide-4:checked ~ .slider {
		animation: scrolling-4 1s linear 1;
		animation-fill-mode: forwards;
	}

	.dishes-items {
		display: inline-block;
		width: 230px;
		padding-right: 55px;
		text-align: center;
		font-family: Aleo-Regular;
	}

	.dishes-items:last-child {
		padding-right: 0;
	}
		
	.description-dishes {
		margin-top: 5px;
	}
	.future-name {
		float: left;
	}

	.future-price {
		float: right;
	}

	.rate {
		padding-top: 20px;
		box-sizing: border-box;
		padding-right: 145px;
	}

	.rate i {
		color: #dfdfdf;
		float: right;
		margin: 0 1px;
	}

	.rate i:hover,
	.rate i:hover ~ i {
		color: #eede0f;	
	}
 
	/* <-- The Gallery section --> */

	.collage {
		position: relative;
		margin-top: 200px;
		margin-bottom: 200px;
	}

	.second-title h1 {
		text-transform: uppercase;
		font-family: Aleo-Bold;
		color: #3b3b3b;
		margin-bottom: 80px;

	}

	.after-line {
		width: 350px;
		height: 1px;
		background-color: #e4e4e4;
		position: absolute;
		top: 35px;
    	left: 180px;
	}

	.big-left-block {
		display: inline-block;
		float: left;
		position: relative;
		height: 432px;
	}

	.small-right-block {
		display: inline-block;
		float: right;
		position: relative;
		height: 216px;
	}

	.cover-block {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 5;
		background-color: rgba(6, 6, 6, 0.5);
	}
	.cover-block:hover {
		background-color: transparent;
		transition: 1s;
	}

	/* <-- Footer section --> */
	
	.footer {
		background-color: #3b3b3b;
		min-height: 320px;
	}
	
	.footer-wrapper {
		padding-top: 100px;
		min-height: 200px;
	}

	.footer-block {
		display: inline-block;
		width: 230px;
		margin-right: 20px;
		vertical-align: text-top;
		margin-right: 55px;
	}

	.footer-block:last-child {
		margin-right: 0;
	}

	.footer-block span{
		display: block;
		color: #fff;
		margin-top: 18px;
	}

	.footer-block .bold {
		font-family: Aleo-Bold;
	}

	.footer-block .normal {
		font-family: Aleo-Light;
	}

	.white-logo {
		display: inline-block;
		padding-top: 18px;
	}

	.footer-block a {
		text-decoration: none;
		font-family: Aleo-Bold;
		color: #fff;
	}





